.about-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    
    min-height: 963px;
    height: 100%;
    width: 85%;
    margin-bottom: 35px;
}

.about-app-title{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}

.bellow-bar{
    width: 160px;
    height: 4px;
    border-radius: 5px;
    background: #D9D9D9;
}
.about-app-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;   
    width: 100%;   
}

.about-app-content-text{
    color: #FFF;
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;    


    padding: 20px;
    border-radius: 19px;
    background: #2C2E37;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.about-app-content-text-exalted{
    color: var(--exalt, #D48550);
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;    
}

.about-app-content-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;      
}







@media screen and (max-width: 1300px) {

    .about-app{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;  
        
        min-height: 963px;
        height: 100%;
        width: 85%;
        margin-top: 50px;
        margin-bottom: 35px;
    }
    
    .about-app-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;   
        width: 100%;   
    }

}